textarea {
    min-height: 400px;
}

/* ---- Email boxes ---- */
.email-box {
    border: 1px solid #ddd; /* Border style */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 5px; /* Add margin between email boxes */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Do not wrap text */
    text-overflow: ellipsis; /* Truncate text with ellipsis */
  }

.email-box .sender,
.email-box .subject,
.email-box .timestamp {
    flex: 1; /* distribute space evenly between the three elements */
    overflow: hidden; /* hide overflow */
    text-overflow: ellipsis; /* truncate text with ellipsis */
}

.email-box .sender {
    text-align: left; /* position the sender on the left */
}
  
.email-box .subject {
    text-align: center; /* position the subject in the center */
  }
  
.email-box .timestamp {
    text-align: right; /* position the timestamp on the right */
  }

/* ---- Show individual email styles ---- */
.email-header-block {
    border: 1px solid #ddd; /* Border style */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add margin between email boxes */
}

.email-body-block {
    border: 1px solid #ddd; /* Border style */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add margin between email boxes */
}